.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.projects-list-item {
  display: flex !important;
}

.projects-list-item-image {
  flex: 1;
}

.projects-list-item-about {
  flex: 10;
}

.project-create-form {
  padding: 10px;
  border: 1px solid black;
  max-width: 400px;
  margin: 0 auto;
}

.projects-list-item-resource {
  margin-right: 10px;
}
